@import url("../res/font/ibm-plex-sans/css/ibm-plex-sans-all.css");
@import url("../res/font/ibm-plex-mono/css/ibm-plex-mono-all.css");

:root {
	font-family: "IBM Plex Sans";
	font-size: 14pt;
}

.center-text, h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	color: purple;
	margin: 0.6em 0.3em;
	padding: 0.6em 0.3em;
	background-color: color-mix(in srgb, violet, white);
	border-radius: 0.6em;
	box-shadow: 0px 2px 4px purple;
}

body {
	background-color: color-mix(in srgb, violet, white 85%);
}

code {
	font-family: "IBM Plex Mono";
	white-space: pre-line;
}

p {
	padding: 0.3em 0.3em;
}

.nav {
	position: fixed;
	background-color: white;
	padding: 1.2em 1.2em;
	margin: -0.6em 0;
	margin-bottom: 1.2em;
	width: 100vw;
	box-shadow: 0px 10px 20px color-mix(in oklab, purple, transparent 60%);
}

.nav-link {
	text-decoration: none;
	color: black;
	margin: 0.3em 0.9em;
}

.mini {
	width: 23%;
}

.button {
	text-align: center;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.3em 0.3em;
	padding: 0.3em 0.3em;
	text-decoration: none;
	border-radius: 0.3em;
	transition: 0.15s ease-out;
	transform: translate(0px, -3px);
}

.button:hover {
	transform: translate(0px, -6px);
}

.button:active {
	transform: translate(0px, 0px);
}

.action {
	font-weight: bold;
	box-shadow: 0px 3px 0px purple;
	background-color: color-mix(in oklab, purple, violet);
	color: white;
}

.action:hover {
	box-shadow: 0px 6px 0px color-mix(in oklab, purple, black);
	background-color: color-mix(in oklab, purple, black 20%);
	color: violet;
}

.action:active {
	box-shadow: 0px 0px 0px color-mix(in oklab, purple, violet);
	background-color: violet;
	color: color-mix(in oklab, purple, black 20%);
}

.flex {
	display: flex;
}

.vertical {
	flex-direction: column;
}

.horizontal {
	flex-direction: row;
}

.center {
	justify-content: center;
}

.card {
	background-color: white;
	max-width: 600px;
	width: 100%;
	padding: 0.6em 0.3em;
	border-radius: 0.6em;
	box-shadow: 0px 7.5px 15px color-mix(in srgb, transparent 60%, purple);
	margin: 1.2em 0.3em;
}

.code-block {
	color: white;
	margin: 0.6em 0.3em;
	background-color: color-mix(in srgb, lightgray, black 80%);
	padding: 0.6em 0.3em;
	border-radius: 0.6em;
}

.inline-code {
	color: white;
	margin: 0em 0.2em;
	background-color: color-mix(in srgb, lightgray, black 80%);
	padding: 0.1em 0.2em;
	border-radius: 0.3em;
}

.json::before {
	content: "{"
}

.json::after {
	content: "}"
}

.app {
	margin-top: 4.6em;
	max-width: 800px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}